header 
   .navigation
      .logo Product site
      nav(role="navigation")
         ul.list-menu   
            li.list-menu__item Home
            li.list-menu__item Product
            li.list-menu__item Settings
            li.list-menu__item About


