header {
  width: 100%;
  padding: 50px 0;
  background: steelblue;
}
.navigation{
  display: flex;
  .list-menu{
    display: flex;
    &__item{
      padding: 10px;
    }
  }
  @media (min-width: 768px) {
      font-size: 2rem;
  }
}